.icon {
    padding-left: 25px;
    //background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat;
    background-size: 20px;
}
.pi-search:before {
    content: "\e908";
}
p-button {
    float: right;
}
