<div class="grid-dashboard">
    <div class="card">
        <div class="card-header">
            <h5>Banks Directory</h5>
        </div>
        <p>Banks Directory use in system</p>
        <div class="function">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" placeholder="Search" class="p-inputtext p-component p-element">
            </span>
            <p-button label="Delete" icon="pi pi-trash" disabled="disabled" class="mr-2 mb-2"></p-button>
            <p-button label="Create New" icon="pi pi-plus" class="mr-2 mb-2"></p-button>
        </div>
        <div class="col-12 md:col-12">
            <p-table [value]="banks" [rowHover]="true" [rows]="10" [paginator]="true" [filterDelay]="0"
                     [globalFilterFields]="['bank.id','bank.group','bank.name','bank.createBy','bank.createDate']">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"><p-tableCheckbox></p-tableCheckbox></th>
                        <th pSortableColumn="bank.id">
                            <div class="flex justify-content-between align-items-center">
                                Bank ID
                                <p-sortIcon field="bank.id"></p-sortIcon>
                                <p-columnFilter type="text" field="bank.id" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="bank.group">
                            <div class="flex justify-content-between align-items-center">
                                Bank Group
                                <p-sortIcon field="bank.group"></p-sortIcon>
                                <p-columnFilter type="text" field="bank.group" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="bank.name">
                            <div class="flex justify-content-between align-items-center">
                                Bank Name
                                <p-sortIcon field="bank.name"></p-sortIcon>
                                <p-columnFilter type="text" field="bank.name" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th>Description</th>
                        <th pSortableColumn="bank.createBy">
                            <div class="flex justify-content-between align-items-center">
                                Create By
                                <p-sortIcon field="bank.createBy"></p-sortIcon>
                                <p-columnFilter type="text" field="bank.craeteBy" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="bank.createDate">
                            <div class="flex justify-content-between align-items-center">
                                Create Date
                                <p-sortIcon field="bank.createDate"></p-sortIcon>
                                <p-columnFilter type="text" field="bank.createDate" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th>Status</th>
                        <th>Task</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-bank>
                    <tr class="p-selector-row">
                        <td>
                            <p-tableCheckbox [value]="bank"></p-tableCheckbox>
                        </td>
                        <td>
                            <span class="p-column-title">Bank ID</span>
                            {{bank.id}}
                        </td>
                        <td>
                            <span class="p-column-title">Bank Group</span>
                            {{bank.group}}
                        </td>
                        <td>
                            <span class="p-column-title">Bank Name</span>
                            {{bank.name}}
                        </td>
                        <td>
                            <span class="p-column-title">Description</span>
                            {{bank.description}}
                        </td>
                        <td>
                            <span class="p-column-title">Create By</span>
                            {{bank.createBy}}
                        </td>
                        <td>
                            <span class="p-column-title">Bank Date</span>
                            {{bank.createDate}}
                        </td>
                        <td>
                            <span class="p-column-title">Status</span>
                            {{bank.status}}
                        </td>
                        <td>
                            <span class="p-column-title">Task</span>
                            {{bank.task}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">No data found</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="bankDialog" header="Add a new bank" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="id">Bank ID</label>
                    <input type="text" pInputText id="id" [(ngModel)]="bank.id" required>
                    <small class="p-invalid" *ngIf="submitted && !bank.id">Bank ID is required</small>
                </div>
                <div class="field">
                    <label for="group">Bank Group</label>
                    <input type="text" pInputText id="group" [(ngModel)]="bank.group" required>
                    <small class="p-invalid" *ngIf="submitted && !bank.group">Bank group is required</small>
                </div>
                <div class="field">
                    <label for="name">Bank Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="bank.name" required>
                    <small class="p-invalid" *ngIf="submitted && !bank.name">Bank Name is required</small>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <input type="text" pInputText id="description" [(ngModel)]="bank.description">
                </div>
                <div class="field">
                    <label for="createBy">Create By</label>
                    <input type="text" pInputText id="createBy" [(ngModel)]="bank.createBy" required>
                    <small class="p-invalid" *ngIf="submitted && !bank.createBy">This field is required</small>
                </div>
                <div class="field">
                    <label for="createDate">Create Date</label>
                    <input type="text" pInputText id="createDate" [(ngModel)]="bank.createDate" required>
                    <small class="p-invalid" *ngIf="submitted && !bank.createDate">This field is required</small>
                </div>
                <div class="field">
                    <label for="status">Status</label>
                    <input type="text" pInputText id="status" [(ngModel)]="bank.status">
                </div>
                <div class="field">
                    <label for="task">Task</label>
                    <input type="text" pInputText id="task" [(ngModel)]="bank.task">
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveBank()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
